@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body {
    margin: 0;
}

.wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    justify-items: center;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 83%;
    padding: 2.7vw 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.header-logo {
    margin-left: 4.8vw;
}

.menu {
    display: flex;
    align-items: center;
}

.menu__item {
    margin-right: 1.4vw;
    font-size: 0.9vw;
}

.menu__icon {
    margin-right: 1.2vw;
}

.menu__icon:last-child {
    margin-right: 0;
}

#menu__toggle {
    opacity: 0;
}

.main {
    display: flex;
    width: 100%;
    background: right bottom -23px no-repeat url(./img/Vector-4.png), right bottom -23px no-repeat url(./img/Vector-3.png);
}

.description {
    margin: 13.3vw 15vw 0 13.2vw;
    width: 30.8vw;
    height: max-content;
}

.description__title {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1.2px;
    line-height: 3.6vw;
    font-weight: 700;
    font-size: 3vw;
    width: 93%;
    margin-bottom: 2.4vw;
}

.description__text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1vw;
    width: 95%;
    margin-left: 0.6vw;
    letter-spacing: 0.8px;
    line-height: 1.3vw;
}

.props {
    width: 20.8vw;
    height: max-content;
    margin: 16vw 0 0 0;
}

.props__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.2vw;
    letter-spacing: 1.4px;
    margin-bottom: 1vw;
}

.form {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.form__input {
    outline: none;
    border: none;
    border-radius: 5px;
    height: 2.6vw;
    margin-bottom: 0.6vw;
    padding-top: 8px;
    padding-left: 15px;
    cursor: pointer;
    transition: color 0.2s;
    line-height: 2vw;
    font-size: 1.1vw;
}

.form__input:hover {
    border: solid 1px #7400E8;
}

 ::-webkit-input-placeholder {
    padding: 0 0 0 0.8vw;
    line-height: 2vw;
    font-size: 1.1vw;
}

 ::-moz-placeholder {
    padding: 4vw 0 0 0.8vw;
    line-height: 2vw;
    font-size: 1.1vw;
}

 :-moz-placeholder {
    padding: 4vw 0 0 0.8vw;
    line-height: 2vw;
    font-size: 1.1vw;
}

 :-ms-input-placeholder {
    padding: 4vw 0 0 0.8vw;
    line-height: 2vw;
    font-size: 1.1vw;
}

.form__button {
    width: 100%;
    height: 2.8vw;
    font-size: 1.1vw;
    color: white;
    border-radius: 5px;
    border: none;
    background-color: #7400E8;
    margin-bottom: 0.9vw;
    cursor: pointer;
    box-shadow: none;
}

.props__text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    opacity: 0.5;
}

.props__text span {
    text-decoration: underline;
}

.footer {
    height: 1.2vw;
    width: 100%;
    background-color: #7400E8;
}

@media (min-width: 1921px) {
    .main {
        background-size: 60% 95%;
    }
    .form__input {
        box-shadow: 0 0 0 0.1px #7400e8;
    }
}


}
@media (max-width: 1775px) {
    .main {
        background: right bottom / 58vw 41vw no-repeat url(./img/1366Vector.png), right bottom / 45.5vw 18.1vw no-repeat url(./img/1366Vector-2.png);
    }
    
    .form__input {
        box-shadow: 0 0 0 0.1px #7400e8;
    }
}
@media (max-width: 1366px) {
    .header {
        width: 77%;
        padding: 3.1vw 0;
    }
    
    .header-logo {
        margin-left: 0;
    }
    
    .menu__item {
        margin-right: 1.8vw;
        font-size: 14px;
        line-height: 16px;
    }
    
    .menu__icon {
        width: 25px;
        height: 25px;
        margin-right: 1.7vw;
    }
    
    .main {
        background: right bottom -25px no-repeat url(./img/1366Vector.png), right bottom -25px no-repeat url(./img/1366Vector-2.png);
    }
    
    .description {
        margin: 10.6vw 14.7vw 0 16.2vw;
    }
    
    .description__title {
        line-height: 52px;
        font-size: 44px;
        letter-spacing: 0;
        margin-bottom: 1.6vw;
    }
    
    .description__text {
        font-size: 14px;
        width: 90%;
        letter-spacing: 0;
        line-height: 16px;
        margin-left: 0;
    }
    
    .props {
        width: 22.1vw;
        height: max-content;
        margin: 12.6vw 0 0 0;
    }
    
    .props__title {
        font-size: 18px;
        line-height: 23px;
        letter-spacing: 0.9px;
        margin-bottom: 1vw;
    }
    
    .form__input {
        height: 2.65vw;
        margin-bottom: 0.9vw;
        padding-top: 4px;
        box-shadow: 0 0 0 0.1px #7400e8;
    }
    
    .form__button {
        width: 100%;
        height: 2.8vw;
        font-size: 14px;
        line-height: 16px;
        padding-right: 20px;
    }
    
    .props__text {
        font-size: 12px;
        line-height: 14px;
        opacity: 0.5;
    }
    
    .footer {
        height: 1.8vw;
    }
}
@media (max-width: 1024px) {
    .header {
        width: 91%;
        padding: 4.1vw 0 4.1vw 9px;
    }
    
    .menu__item {
        margin-right: 2.4vw;
    }
    
    .menu__icon {
        margin-right: 2.3vw;
    }
    
    .menu__icon:last-child {
        margin-right: 5px;
    }
    
    .main {
        background: right bottom -25px no-repeat url(./img/1024Vector.png), right bottom -25px no-repeat url(./img/1024Vector-2.png);
    }
    
    .description {
        width: 39vw;
        margin: 14.1vw 21.6vw 0 5vw;
    }
    
    .description__title {
        margin-bottom: 2.1vw;
    }
    
    .description__text {
        width: 95%;
    }
    
    .props {
        width: 29.4vw;
        margin: 16.9vw 0 0 0;
    }
    
    .props__title {
        margin-bottom: 1.5vw;
    }
    
    .form__input {
        font-size: 14px;
        line-height: 16px;
        height: 3.5vw;
        margin-bottom: 1.3vw;
        padding-top: 1px;
        box-shadow: none;
    }
    
    .form__button {
        height: 4vw;
    }
    
    .footer {
        height: 2.4vw;
    }
}
@media (max-width: 1023px) {
    .main {
        background: right bottom / 61vw 50.5vw no-repeat url(./img/1024Vector.png), right bottom / 50vw 45vw no-repeat url(./img/1024Vector-2.png);
    }
    
    .form__input {
        box-shadow: 0 0 0 0.1px #7400e8;
    }
}
@media (max-width: 935px) {
    .main {
        background: right bottom / 61vw 57.5vw no-repeat url(./img/1024Vector.png), right bottom / 50vw 50vw no-repeat url(./img/1024Vector-2.png);
    }
}
@media (max-width: 768px) {
    .header {
        width: 87%;
        padding: 8.5vw 0 4.1vw 9px;
    }
    
    .menu {
        display: none;
    }
    
    .menu__mobile {
        display: flex;
        align-items: center;
        position: fixed;
        top: 48px;
        right: 25px;
        width: 25px;
        height: 26px;
        cursor: pointer;
        z-index: 2;
    }
    
    .menu__mobile>span,
    .menu__mobile>span::before,
    .menu__mobile>span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: #A563E7;
    }
    
    .menu__mobile>span::before {
        content: '';
        top: -7px;
    }
    
    .menu__mobile>span::after {
        content: '';
        top: 7px;
    }
    
    .menu {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 173px 0;
        text-align: center;
        background: #fff;
        max-width: 100%;
        transition: left .5s ease-out;
        z-index: 1;
    }
    
    .menu__item {
        display: inline-block;
        margin: 0;
        padding: 12px 0;
        width: auto;
        font-size: 30px;
        line-height: 36px;
    }
    
    #menu__toggle:checked~.menu__mobile>span {
        transform: rotate(45deg);
    }
    
    #menu__toggle:checked~.menu__mobile>span::before {
        top: 0;
        transform: rotate(0);
    }
    
    #menu__toggle:checked~.menu__mobile>span::after {
        top: 0;
        transform: rotate(90deg);
    }
    
    #menu__toggle:checked~.menu {
        visibility: visible;
        left: 0;
    }
    
    .menu__icon {
        display: none;
    }
    
    .main {
        flex-direction: column;
        background: center bottom -10px no-repeat url(./img/375Vector.png);
        align-items: center;
        background-size: 100% 40%;
    }
    
    .description {
        width: 90vw;
        margin: 12.1vw auto 0 auto;
        text-align: center;
    }
    
    .description__title {
        font-size: 35px;
        line-height: 41px;
        margin-right: 0;
        margin-bottom: 26px;
        width: 95%;
        padding: 0 0 0 9px;
    }
    
    .description__text {
        width: 80%;
        font-size: 16px;
        line-height: 19px;
        margin: auto;
    }
    
    .props {
        width: 60vw;
        margin: 22.5vw 0 0 0;
        align-items: flex-start;
    }
    
    .props__title {
        font-size: 18px;
        line-height: 23px;
        letter-spacing: 0.7px;
        margin-bottom: 3.5vw;
    }
    
    .form__input {
        height: 8vw;
        margin-bottom: 3.2vw;
        padding-top: 1px;
    }
    
     ::-webkit-input-placeholder {
        font-size: 14px;
        line-height: 16px;
        padding-left: 5px;
    }
    
     ::-moz-placeholder {
        font-size: 14px;
        line-height: 16px;
        padding-left: 5px;
    }
    
     :-moz-placeholder {
        font-size: 14px;
        line-height: 16px;
        padding-left: 5px;
    }
    
     :-ms-input-placeholder {
        font-size: 14px;
        line-height: 16px;
        padding-left: 5px;
    }
    
    .form__button {
        height: 8vw;
        margin-bottom: 3.5vw;
    }
    
    .footer {
        display: none;
    }
}
@media (max-width: 375px) {
    .main {
        background: center bottom no-repeat url(./img/375Vector.png);
    }
    
    .props {
        width: 80.5vw;
        margin: 22.5vw 0 0 0;
        align-items: flex-start;
    }
    
    .form__input {
        height: 10vw;
        margin-bottom: 3.2vw;
        padding-top: 1px;
    }
    
    .form__button {
        height: 10.6vw;
        margin-bottom: 3.5vw;
    }
}